<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Learning Journal</title>
  <meta name="description" content="Your Thinking Style">
  <meta name="author" content="taolin.co.uk">
  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/chartist.css"> -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="tincan.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="src/dist/vue-tables.min.js"></script>
</head>

<body>
<div class="container-fluid" id="">
  <div class="row" style="    background: #F1F1F1;">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="taolinPanel">
        <div id="contentPanel" class="row">
          <div class="col-md-12 col-sm-12" style="max-height: 303px;
    overflow: auto;
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 11px;
    font-size: 95%;">
            <div v-if="loadingTable" class="text-center"><img src="img/loading.svg" width="100">
              <p>Just a moment...</p></div>
            <table v-if="!loadingTable" class="table table-bordered">
              <thead>
              <th>Date</th>
              <th>Topic</th>
              <th>My thoughts</th>
              </thead>
              <tr v-for="reflection in reflections">
                <td>{{reflection.date}}</td>
                <td>{{reflection.topic}}</td>
                <td>
                  <div style="display: block;
                  max-height: 100px;
                  max-width: 660px;
                  overflow: scroll;
                  background: #f27524;
                  padding: 8px;
                  color: #f3f3f3;
                  border-radius: 8px;
                  margin: 0 auto;">{{reflection.reflection}}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 col-sm-12">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <p><span style="margin-right: 18px;">Name: </span> <span style="background: #f27524;
                  padding: 2px;
                  color: #f3f3f3;
                  border-radius: 8px;">{{name}}</span></p>
                <p><span style="margin-right: 26px;">Date: </span> <span style="background: #f27524;
                  padding: 2px;
                  color: #f3f3f3;
                  border-radius: 8px;">{{date}}</span></p>
                <p><span style="margin-right: 5px;">Module: </span> <span style="
                  background: #f27524;
                  padding: 4px;
                  color: #f3f3f3;
                  border-radius: 8px;">
          {{ selectedModule.text }}
          </span></p>
                <p><span style="margin-right: 22px;">Topic:  </span> <span>
            <select v-model="selectedTopic" v-on:change="getandsetreflection">
            <option v-for="topic in topics" v-bind:value="topic.value">
              {{ topic.text }}
            </option>
          </select>
          </span>
                  <span><img v-if="loading" src="img/loading.svg" width="45"></span>
              </p>
              </div>
              <div class="col-md-6">
                <img src="img/img.jpg" class="img img-responsive" width="450">
              </div>
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <textarea @focus="goToBottom" class="form-control" rows="3" v-model="message" id="refText" style="resize: none;"
                        placeholder="My thoughts"></textarea>
              <hr>
              <button class="btn btn-lg taolinBtn " v-on:click="submit">Save</button>
              <span v-if="successMessage" class="text-success">Reflection saved!</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

</body>
<script type="text/javascript" src="src/main.js"></script>
</html>